#PDLogo img {
    height: 40px;
    width: auto;
    margin-top: -15px;
    margin-bottom: -15px;
}

.overdue {
    margin-left: 10px;
    vertical-align: top;
    background-color: #ff8000;
}

#eqOut .well {
    margin-top: auto;
    margin-bottom: auto;
}

#eqInstructions p {
    margin-left: 10px;
}
